body {
    background-color:black;
    font-family:arial;
    color: white;
}

h1{
    color:grey;
    font-family:verdana;
}

.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

#principal{
    margin-left: 100px;
}

#rate{
    margin-left: 63px;
}

#years{
    margin-left: 70px;
}

.content{
    margin:5%;
    margin-left: 50px;
}

